<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.wong.kec.dao.dao.ModuleMapper">
  <resultMap id="BaseResultMap" type="pers.wong.kec.domain.entity.Module">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
  </resultMap>

  <select id="getModuleList" resultType="pers.wong.kec.domain.requestDTO.ModuleDTO">
    select id, name, user_id as userId, summary, type, status, create_time as createTime
    from module
    <where>
      <if test="name != null and name.length() > 0 ">
        <bind name="name" value="'%' + name + '%'"></bind>
        and name like #{name}
      </if>
      <if test="type != null and type.length() > 0">
        and type = #{type}
      </if>
      <if test="status != null and status.length() > 0">
        and status = #{status}
      </if>
    </where>
    order by create_time desc
  </select>

</mapper>