<!DOCTYPE html>
<html lang="zh-cmn" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>主贴列表</title>

  <!-- CSS  -->
  <link href="/static/css/Material.css" rel="stylesheet">
  <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <style type="text/css">
    #show-post tr{
      border-bottom: 0px;
    }
    header, main, footer {
      padding-left: 300px;
    }

    #nav-text{
      padding-left: 320px;
    }

    @media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
    }
  </style>
</head>

<body>
<!--导航栏-->
<nav  class="z-depth-0 white">
  <div class="nav-wrapper">
    <span id="nav-text" class="brand-logo left blue-text text-lighten-3">新闻中心</span>
    <ul class="right hide-on-med-and-down">
      <li><a class="blue-text text-lighten-3" href="/logout">退出登录</a></li>
    </ul>
  </div>
</nav>
<hr style="margin: 0px;padding: 0px">


<header>
  <!--滑窗-->
  <ul id="slide-out" class="sidenav sidenav-fixed">
    <li>
      <div class="user-view">
        <div class="background">
          <img src="/static/image/1.jpg">
        </div>
        <ul class="hide-on-med-and-down">
          <li><img class="circle" src="/static/image/8.jpg"></li>
          <li><span class="white-text name">Admin</span></li>
          <li><span class="white-text"><br></span></li>
        </ul>
      </div>
    </li>
    <li><a href="/backstage/admin">新闻中心</a></li>
    <li><a href="/backstage/moduleManeger">板块管理</a></li>
    <!--<li class="divider"></li>-->
    <li class="active"><a href="/backstage/postClassification">帖子管理</a></li>
    <li><a href="/backstage/controlUser">用户管理</a></li>
  </ul>
</header>

<br><br>
<main>
<!--内容-->
<div class="row">
  <div class="container center">
    <div class="row">
      <!--面包屑-->
      <div class="row">
        <nav>
        <div class="nav-wrapper white">
          <div class="col s12">
            <a href="/backstage/postClassification" class="breadcrumb left grey-text text-lighten-1">返回板块</a>
            <a class="breadcrumb left grey-text text-lighten-1">></a>
            <a class="breadcrumb left black-text text-lighten-3">主贴展示</a>
          </div>
        </div>
      </nav>
      </div>
      <!--主贴列表展示-->
      <br>
      <div class="row">
        <a id="admin-add-post" style="margin-right: 80px;"
           class="btn-floating btn-large waves-effect waves-light blue right"><i class="material-icons">add</i></a>
        <br><hr>
      </div>


      <div class="row">
        <div class="col s12 m12">
          <div class="card medium" style="height: 350px" id="module-card">
            <!--板块基本信息展示-->
            <div class="card-image">
              <img src="/static/image/1.jpg">
              <span class="card-title black-text" style="padding-top: 20px">
                <b class="left"></b><br><br>
                <a class="left modal-trigger" href="#user-modal-detail" style="font-size: large;">版主：</a><br>
                <p class="left" style="font-size: large;">简介：</p>
              </span>
            </div>
            <div class="card-content center">
              <p class="col s4 orange-text text-lighten-3">关注：80</p>
              <p class="col s4 orange-text text-lighten-3">帖子：100</p>
              <p class="col s4 orange-text text-lighten-3">今日发帖：3</p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <!--帖子展示-->
      <div class="row">
        <div class="col s12 m12 z-depth-1">
          <table class="highlight" id="show-post">
            <thead>
              <tr>
                <td class="center" colspan = "4"><h5>看帖</h5></td>
                <td class="left"><h5>操作</h5></td>
              </tr>
            </thead>
            <tbody>
            </tbody>
            <br>
          </table>
          <br><br>

          <!--翻页-->
          <div class="container center" >
            <ul class="pagination" id="module-pagination">
            </ul>
          </div>
        </div>
      </div>

      <!--用户详情展示-->
      <div id="user-modal-detail" class="modal">
        <div class="modal-content">
          <h4>Modal Header</h4>
          <p>吧龄：2</p>
          <p>发帖：90</p>
          <p>他关注的板块：XX XX XX</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">返回</a>
        </div>
      </div>
    </div>
  </div>
</div>
</main>

<!--脚部-->
<br><br>
<footer class="page-footer white">
  <div class="footer-copyright white">
    <div class="container">
      <span class="black-text">技术支持</span>
      <a class="blue-text text-lighten-3" href="http://materializecss.com">Materialize</a>
    </div>
  </div>
</footer>


<!--  Scripts-->
<script src="/static/js/jQuery.js"></script>
<script src="/static/js/materialize.js"></script>
<script src="/static/js/jq-paginator.js"></script>
<script src="/static/js/init.js"></script>
<script src="/static/js/admin.js"></script>
<script src="/static/js/commonJs.js"></script>
<script>
  $(document).ready(function(){
    //输入框的字数限制
    $('input#module_name, textarea#textarea2').characterCounter();
    //Select jQuery
    $('select').formSelect();
    //collapsibel
    $('.collapsible').collapsible();
    //对话框初始化
    $('.modal').modal();
    var post_list = getPostDetail();
    $('#module-pagination').jqPaginator({
      totalPages: post_list.pages === 0 ? 1 : post_list.pages,
      visiblePages: 10,
      pageSize: post_list.pageSize,
      currentPage: 1,
      first: '<li class="waves-effect"><a href="#!"><i class="material-icons">first_page</i></a></li>',
      prev: '<li class="waves-effect"><a href="#!"><i class="material-icons">chevron_left</i></a></li>',
      next: '<li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>',
      last: '<li class="waves-effect"><a href="#!"><i class="material-icons">last_page</i></a></li>',
      page: '<li class="waves-effect"><a href="javascript:void(0);">{{page}}<\/a><\/li>',
      onPageChange: function (num, type) {
        //翻页
        get_post_ajax(num, getUrlParam("id"))
      }
    });
  });
</script>
</body>
</html>
