
/**
登录框设计
 */
.login-border {
  width: 450px;
  margin-top: 5%;
  background-color: rgba(255,255,255, 0.8);
  padding: 10px;
  border: white solid 1px;
  border-radius: 2px;
}

.login-border form table tr {
  border-bottom: 0px;
}

.login-border form table tr td {
  width: 215px;
}

.child-table{}

.child-table tr{
  border-bottom: 0px;
}



/**
童趣
 */

/**
卡片
 */
.child-card {
  margin: 30px;
  padding: 10px 10px 20px 20px;
  border: #93cadf double 1px;
  box-shadow: 4px 4px 2px #777777;
}

.child-card:hover {
  transform: scale(1.1);
  transition: all 0.2s linear;
}

/**
字体跟背景颜色
 */
.child-like-red {
  /*background-color: #ff7573;*/
  background-color: rgba(255,117,115, 1);
}

.child-like-light-white {
  /*background-color: #feffd5;*/
  background-color: rgba(254,255,213, 1);
}

.child-like-blue {
  /*background-color: #93cadf;*/
  background-color: rgba(147,202,223, 1);
}

.child-like-text-red {
  color: #ff7573;
}

.child-like-text-light-white {
  color: #feffd5;
}

.child-like-text-blue {
  color: #93cadf;
}

/**
hr水平线颜色
 */
.child-hr-red {
  background-color: rgba(255,117,115, 1);
  border: none;
  height: 1px;
}

.child-hr-light-white {
  background-color: rgba(254,255,213, 1);
  border: none;
  height: 1px;
}

.child-hr-blue {
  background-color: rgba(147,202,223, 1);
  border: none;
  height: 1px;
}

/**
边框
 */

.child-like-border-red {
  padding: 3px;
  border: #ff7573 solid 1px;
}

.child-like-border-light-white {
  padding: 3px;
  border: #feffd5 solid 1px;
}

.child-like-border-blue {
  padding: 3px;
  border: #93cadf solid 1px;
}

.child-radius {
  border-radius: 2px;
}

/**
按钮样式
 */
.child-btn {
  color: #93cadf;
  margin: 0;
  padding: 3px 8px 3px 8px;
  border: #93cadf solid 2px;
  border-radius: 2px;
  transition: all 0.2s linear;
}

.child-btn:hover{
  background-color: rgba(147,202,223, 1);
  color: white;
}

/**
圆形按钮
 */
.child-btn-circle{
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  width: auto;
  color: white;
  background-color: rgba(255,117,115, 1);
  border: #ff7573 solid 1px;
  border-radius: 50%;
  transition: all 0.2s linear;
}

.child-btn-circle:hover {
  background-color: rgba(255,117,115, 0.7);
}

/**
标题样式
*/
.child-title {
  border-left: rgba(147,202,223, 1) solid 4px;
  padding-left: 20px;
}




/**
大众化的
 */
.papularization-red{
  background-color:#ff6569 ;
}

.papularization-yellow{
  background-color:#fff087 ;
}

.papularization-blue{
  background-color:#636cb9 ;
}

.papularization-text-red{
  color:#ff6569 ;
}

.papularization-text-yellow{
  color:#fff087 ;
}

.papularization-text-blue{
  color:#636cb9 ;
}

.papularization-border-red {
  padding: 8px;
  border: #ff6569 solid 1px;
}

.papularization-border-yellow {
  padding: 8px;
  border: #fff087 solid 1px;
}

.papularization-border-blue {
  padding: 8px;
  border: #636cb9 solid 1px;
}