<!DOCTYPE html>
<html lang="zh-cmn" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
  <title>用户登录</title>
  <!-- CSS  -->
  <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
  <link href="/static/css/Material.css" rel="stylesheet">
  <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/css/theme.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body style="background-image: url('/static/image/5.jpg'); background-size: 100%; background-repeat: no-repeat; ">

<!--表单-->
<div class="row login-border center z-depth-1">
  <form class="col s12">
    <table>
      <tbody>
      <tr>
        <td colspan="2" class="right-align">
          <a href="/" class="child-btn-circle">
            <i class="material-icons">home</i></a>
          <h5 class="blue-text text-darken-1 left-align">用户名密码登录</h5>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div class="row">
            <div class="input-field col s12">
              <input id="studentno" type="text" data-length="10" maxlength="10" />
              <label class="blue-text text-darken-1" for="studentno">学号</label>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" data-length="10">
              <label class="blue-text text-darken-1" for="password">密码</label>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="left-align">
          <a class="center blue-text text-darken-1" href="/backstage/login">管理员登录</a>
        </td>
        <td class="right-align">
          <a class="center blue-text text-darken-1" href="/entrance/signUp">用户注册</a>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <!--登录提示信息！！-->
          <div class="center row" style="width: 300px; margin-left: 38px;">
            <span id="sign_info" class="child-like-text-red" style="font-size: larger;"></span>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <button class="btn waves-effect blue darken-1 white-text" style="width: 400px"
                  type="button" id="user_login">确认</button>
        </td>
      </tr>
      </tbody>
    </table>
  </form>
</div>

<!--  导入脚本-->
<script src="/static/js/jQuery.js"></script>
<script src="/static/js/materialize.js"></script>
<script src="/static/js/init.js"></script>
<script src="/static/js/user.js"></script>
<script src="/static/js/commonJs.js"></script>
<script>
  $('#user_login').click(function () {
    user_lgoin();
  });

  //回车提交
  $(document).keyup(function(event){
    if(event.keyCode ===13){
      user_lgoin();
    }
  });

  function user_lgoin() {
    if (check_info()) {
      login();
    }
  }

  //用户名密码验证
  function check_info(){
    var studentno = $('#studentno').val();
    var password = $('#password').val();
    if (isNull(studentno) || isNull(password)) {
      msg = "用户名或密码不能为空";
      showMessage(msg);
      return false;
    }
    if (!/^\d+$/.test(studentno)) {
      msg = "学号为纯数字组成";
      showMessage(msg);
      return false;
    }
    return true;
  }

  // 注册信息方法
  function showMessage(message) {
    $("#sign_info").empty();
    $("#sign_info").text(message);
  }
</script>

</body>
</html>