<!DOCTYPE html>
<html lang="zh-cmn" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>板块展示</title>

  <!-- CSS  -->
  <link href="/static/css/Material.css" rel="stylesheet">
  <link href="/static/css/materialize.css" type="text/css" rel="stylesheet"
        media="screen,projection"/>
  <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/css/theme.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>
<!--导航栏-->
<nav class="z-depth-1">
  <div class="white nav-wrapper">
    <ul class="left hide-on-med-and-down">
      <li style="width: 100px" class="center"><i
          class="large material-icons blue-text text-lighten-3">account_balance</i></li>
      <li style="width: 130px" class="center"><a href="/"><i
          class="material-icons large black-text">home</i></a></li>
      <li style="width: 130px" class="center active red lighten-3"><a href="/entrance/moduleDisplay" class="white-text">板块展示</a></li>
      <!--<li class="divider"></li>-->
      <li style="width: 130px" class="center"><a href="/entrance/needInfo/userFocus" class="black-text">我的关注</a></li>
      <li style="width: 130px" class="center"><a id="unread-message"
                                                 href="/entrance/needInfo/messageCenter" class="black-text">消息中心</a></li>
    </ul>
    <ul class="right hide-on-med-and-down" id="user_login_info">
      <li style="width: 120px"><a class="center black-text" href="/entrance/login">登录</a></li>
      <li style="width: 120px"><a class="center black-text" href="/entrance/signUp">注册</a></li>
    </ul>
  </div>
</nav>

<!--内容-->
<div class="row">
  <br><br><br><br>
  <div class="container center">
    <div class="row">
      <!--展示板块-->
      <!--校园服务-->
      <ul class="collapsible">
        <li>
          <div class="collapsible-header"><i class="material-icons child-like-text-blue">school</i>校园服务</div>
          <div class="collapsible-body" style="display: block;">
            <div class="row">
              <!--展示内容-->
              <ul id="campus-service">
              </ul>
            </div>
          </div>
        </li>
      </ul>
      <br><br>
      <!--学习交流-->
      <ul class="collapsible">
        <li>
          <div class="collapsible-header"><i class="material-icons child-like-text-blue">speaker_notes</i>学习交流</div>
          <div class="collapsible-body" style="display: block;">
            <div class="row">
              <!--展示内容-->
              <ul id="study">
              </ul>
            </div>
          </div>
        </li>
      </ul>
      <br><br>
      <!--娱乐交友-->
      <ul class="collapsible">
        <li>
          <div class="collapsible-header"><i class="material-icons child-like-text-blue">videogame_asset</i>娱乐交友</div>
          <div class="collapsible-body" style="display: block;">
            <div class="row">
              <!--展示内容-->
              <ul id="game">
              </ul>
            </div>
          </div>
        </li>
      </ul>
      <br><br>
      <!--其它板块-->
      <ul class="collapsible">
        <li>
          <div class="collapsible-header"><i class="material-icons child-like-text-blue">find_in_page</i>其它板块</div>
          <div class="collapsible-body" style="display: block;">
            <div class="row">
              <!--展示内容-->
              <ul id="others">
              </ul>
            </div>
          </div>
        </li>
      </ul>
      <br><br>
    </div>
  </div>
</div>

<footer class="page-footer white">
  <hr>
  <div class="container">
    <div class="row">
      <div class="col l3 s12">
        <h5 class="black-text">友情链接</h5>
        <ul>
          <li><a class="orange-text text-lighten-2" href="https://materializecss.com/">Materialize</a></li>
          <li><a class="orange-text text-lighten-2" href="https://www.google.com/">Google</a></li>
          <li><a class="orange-text text-lighten-2" href="https://www.baidu.com/?tn=78000241_5_hao_pg">百度</a></li>
          <li><a class="orange-text text-lighten-2" href="https://tieba.baidu.com/index.html">贴吧</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright black">
    <div class="container">
      技术支持<a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
    </div>
  </div>
</footer>


<!--  Scripts-->
<script src="/static/js/jQuery.js"></script>
<script src="/static/js/materialize.js"></script>
<script src="/static/js/init.js"></script>
<script src="/static/js/user.js"></script>
<script src="/static/js/commonJs.js"></script>
<script>
  $(document).ready(function () {
    get_user_loginInfo_ajax();
    //未读消息、
    show_unread_message();
    //板块加载  这里暂时设置为从一条数据获取
    module_ajax(1000, 1, '0');
  });
</script>

</body>
</html>
