<!DOCTYPE html>
<html lang="zh-cmn" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>板块内容展示</title>

  <!-- CSS  -->
  <link href="/static/css/Material.css" rel="stylesheet">
  <link href="/static/css/materialize.css" type="text/css" rel="stylesheet"
        media="screen,projection"/>
  <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/css/theme.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>
<!--导航栏-->
<nav class="z-depth-1">
  <div class="white nav-wrapper">
    <ul class="left hide-on-med-and-down" style>
      <li style="width: 100px" class="center"><i
          class="large material-icons blue-text text-lighten-3">account_balance</i></li>
      <li style="width: 130px" class="center"><a href="/"><i
          class="material-icons large black-text">home</i></a></li>
      <li style="width: 130px" class="center active red lighten-3"><a href="/entrance/moduleDisplay" class="white-text">板块展示</a></li>
      <!--<li class="divider"></li>-->
      <li style="width: 130px" class="center"><a href="/entrance/needInfo/userFocus" class="black-text">我的关注</a></li>
      <li style="width: 130px" class="center">
        <a id="unread-message" href="/entrance/needInfo/messageCenter" class="black-text">消息中心</a></li>
    </ul>
    <ul class="right hide-on-med-and-down" id="user_login_info">
      <li style="width: 120px"><a class="center black-text" href="/entrance/login">登录</a></li>
      <li style="width: 120px"><a class="center black-text" href="/entrance/signUp">注册</a></li>
    </ul>
  </div>
</nav>
<br><br><br><br>

<!--内容-->
<div class="row">
  <div class="container center white">
    <div class="row z-depth-1">

      <!--右下角固定导航栏-->
      <div class="fixed-action-btn">
        <a class="btn-floating btn-large red">
          <i class="large material-icons">view_list</i>
        </a>
        <ul>
          <li><a href="javascript:self.location.reload();" class="btn-floating yellow darken-1">
            <i class="material-icons">refresh</i></a></li>
          <li><a href="#" class="btn-floating green">
            <i class="material-icons">publish</i></a></li>
          <li><a href="#post_name" class="btn-floating blue">
            <i class="material-icons">comment</i></a></li>
        </ul>
      </div>

      <!--主贴列表展示-->
      <br>

      <div class="row left-align">
          <div class="row col s12 m12" style="padding-left: 40px">
            <div class="col s12">
              <h5 id="post-name" class="">板块名称</h5>
              <p id="post-admin" class="child-like-text-blue">管理员</p>
            </div>

            <div class="col s2">
              <p class="child-like-text-blue">主贴总数:290420</p>
            </div>
            <div class="col s10">
              <p class="child-like-text-blue">关注量:23984</p>
            </div>
          </div>
      </div>

      <!--帖子展示-->
      <div class="row">
        <div class="col s12 m12">
          <table class="highlight" id="show-post">
            <thead>
            <tr>
              <td colspan="5">
                <ul class="tabs">
                  <li class="tab">
                    <a id="get-all-post" class="blue-grey-text text-lighten-3 active"
                       style="padding-left: 40px">全部</a>
                  </li>
                  <li class="tab">
                    <a id="get-popular-post" class="blue-grey-text text-lighten-3"
                       style="padding-left: 40px">最热</a>
                  </li>
                  <li class="tab">
                    <a id="get-essence-post" class="blue-grey-text text-lighten-3"
                       style="padding-left: 40px">高质</a>
                  </li>
                </ul>
              </td>
            </tr>
            </thead>
            <tbody>
            </tbody>
            <br>
          </table>
          <br><br>

          <!--翻页-->
          <div class="container center" >
            <ul class="pagination" id="module-pagination">
            </ul>
          </div>
        </div>
      </div>

      <!--用户详情展示-->
      <div id="user-modal-detail" class="modal">
        <div class="modal-content">
          <h4>Modal Header</h4>
          <p>吧龄：2</p>
          <p>发帖：90</p>
          <p>他关注的板块：XX XX XX</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">返回</a>
        </div>
      </div>
    </div>
  </div>
</div>


<br><br>

<!--新增主贴信息表单-->
<div class="row center">
  <div class="container">
    <form>
      <div class="row">
        <div class="input-field">
          <i class="material-icons prefix child-like-text-red">mode_edit</i>
          <input id="post_name" type="text" data-length="30">
          <label for="post_name">主贴标题</label>
        </div>
      </div>
      <div class="row">
        <label for="post_container" class="left child-like-text-red">主贴内容：</label><br>
        <!-- 加载编辑器的容器 -->
        <script id="post_container" name="content" type="text/plain">
        </script>
      </div>
      <br>
    </form>
    <!--提交-->
    <div class="row">
      <button id="add_new_module"
              class="btn-large waves-effect waves-light child-like-blue white-text"
              style="width: 200px; margin-left: 20px;"
              type="button">提交<i class="material-icons right">send</i>
      </button>
    </div>
  </div>
</div>


<!--脚部-->
<footer class="page-footer black">
  <div class="footer-copyright">
    <div class="container">
      技术支持<a class="blue-text text-lighten-3" href="http://materializecss.com">Materialize</a>
    </div>
  </div>
</footer>


<!--  Scripts-->
<script src="/static/js/jQuery.js"></script>
<script src="/static/js/materialize.js"></script>
<script src="/static/js/init.js"></script>
<script src="/static/js/post.js"></script>
<script src="/static/js/user.js"></script>
<script src="/static/js/commonJs.js"></script>
<script src="/static/js/jq-paginator.js"></script>
<!-- 配置文件 -->
<script type="text/javascript" src="/static/UEditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/static/UEditor/ueditor.all.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
  window.ue = UE.getEditor('post_container');
</script>
<script>
  $(document).ready(function () {
    //加载登录信息
    get_user_loginInfo_ajax();
    //未读消息、
    show_unread_message();
    //加载板块以及板块下的帖子信息
    var moduleId = getUrlParam("moduleId");
    var post_list = user_get_post(1, moduleId);
    $('#module-pagination').jqPaginator({
      totalPages: post_list.pages === 0 ? 1 : post_list.pages,
      visiblePages: 10,
      pageSize: post_list.pageSize,
      currentPage: 1,
      first: '<li class="waves-effect"><a href="#!"><i class="material-icons">first_page</i></a></li>',
      prev: '<li class="waves-effect"><a href="#!"><i class="material-icons">chevron_left</i></a></li>',
      next: '<li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>',
      last: '<li class="waves-effect"><a href="#!"><i class="material-icons">last_page</i></a></li>',
      page: '<li class="waves-effect"><a href="javascript:void(0);">{{page}}<\/a><\/li>',
      onPageChange: function (num, type) {
        //翻页
        var i = 0;
        if (i > 0) {
          user_get_post(num, moduleId)
        }
        i++;
      }
    });
  });

  //提交
  $('#add_new_module').click(function () {
    if ($('#post_name').val().isEmpty || $('#post_name').val() === '') {
      alert("帖子名称不能为空");
    } else if ($('#post_name').val().length >= 30) {
      alert("帖子名称名称过长");
    } else {
      add_new_post_ajax(getUrlParam("moduleId"));
    }
  });

  //发评论
  $('#add_new_comment').click(function () {
    send_comment_p(getUrlParam("id"));
  });

  // 帖子类型，0普通 1置顶  2精华  3热门
  $('#get-all-post').click(function () {
    lookup_post();
  });
  $('#get-popular-post').click(function () {
    lookup_post("3");
  });
  $('#get-essence-post').click(function () {
    lookup_post("2");
  });

  //主贴分类查找
  function lookup_post(type) {
    console.log(type);
    var moduleId = getUrlParam("moduleId");
    var searchRequestDTO = {
      pageSize: 20,
      pageNum: 1,
      moduleId: moduleId,
      status: '0'
    };
    if (type !== null) {
      searchRequestDTO["postType"] = type;
    }
    var post_list = get_module_post_ajax(searchRequestDTO);
    load_post_table("show-post",post_list);
  }
</script>
</body>
</html>