
<!DOCTYPE html>
<html lang="zh-cmn" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>主贴展示</title>

  <!-- CSS  -->
  <link href="/static/css/Material.css" rel="stylesheet">
  <link href="/static/css/materialize.css" type="text/css" rel="stylesheet"
        media="screen,projection"/>
  <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/css/theme.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body class="child-like-light-white">
<!--导航栏-->
<nav class="z-depth-1">
  <div class="white nav-wrapper">
    <ul class="left hide-on-med-and-down" style>
      <li style="width: 100px" class="center"><i
          class="large material-icons blue-text text-lighten-3">account_balance</i></li>
      <li style="width: 130px" class="center"><a href="/"><i
          class="material-icons large black-text">home</i></a></li>
      <li style="width: 130px" class="center active red lighten-3"><a href="/entrance/moduleDisplay" class="white-text">主贴展示</a></li>
      <!--<li class="divider"></li>-->
      <li style="width: 130px" class="center"><a href="/entrance/needInfo/userFocus" class="black-text">我的关注</a></li>
      <li style="width: 130px" class="center">
        <a id="unread-message" href="/entrance/needInfo/messageCenter" class="black-text">消息中心</a></li>
    </ul>
    <ul class="right hide-on-med-and-down" id="user_login_info">
      <li style="width: 120px"><a class="center black-text" href="/entrance/login">登录</a></li>
      <li style="width: 120px"><a class="center black-text" href="/entrance/signUp">注册</a></li>
    </ul>
  </div>
</nav>

<!--内容-->
<div class="row">
  <div class="container">
    <div class="input-field col s12">
      <!--添加栏，筛选栏--><br>
      <div class="row">
        <div class="left">
          <h6 class="child-like-text-red" style="margin-left: 60px">贴子内容展示</h6>
        </div>
        <div class="right">
          <a onclick="go_back()" style="margin-right: 60px"
             class="btn modal-trigger child-like-red white-text">返回</a>
        </div>
      </div>
      <hr>
      <br><br>

      <!--主贴以及其主贴评论内容-->
      <div class="row z-depth-1" style="margin: 0">
        <ul class="collection" id="post-and-comment-ul" style="margin: 0">
          <!--主贴信息-->
          <li class="collection-item">
            <div class="row" style="margin: 0; padding-top: 5px">
              <div class="col s2 center">
                <div class="row">
                  <img src="/static/image/7.jpg" width="64" height="64"
                       class="circle child-like-border-blue">
                </div>
                <!--用户名-->
                <a href="#user-modal-detail" class="modal-trigger child-like-text-blue" id="user-name"></a>
                <span class="badge child-like-red white-text">楼主</span>
              </div>
              <div class="col s10" style="border-left: #eceff1 solid 1px">
                <!--主贴标题-->
                <div class="col s12"><span id="post-title" class="title"></span></div>
                <!--主贴内容-->
                <div class="col s12"><p id="post-comment-content"><br></p></div><br>
                <!--操作-->
                <div class="col s12"><p class="right" id="operation-date-content"></p></div>
              </div>
            </div>


            <!--翻页-->
          <li class="collection-item avatar" id="pagination-li">
            <br>
            <div class="container center" >
              <ul class="pagination" id="post-pagination">
              </ul>
            </div>
          </li>
        </ul>

        <!--用户详情展示-->
        <div id="user-modal-detail" class="modal">
          <div class="modal-content">
            <h4>Modal Header</h4>
            <p>吧龄：2</p>
            <p>发帖：90</p>
            <p>他关注的板块：XX XX XX</p>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">返回</a>
          </div>
        </div>
      </div>

      <br><br><br>

      <!--回复主贴-->
      <div class="row center col s12">
        <form>
          <label for="post_container" class="left child-like-text-red">评论内容：</label><br>
          <!-- 加载编辑器的容器 -->
          <script id="post_container" name="content" type="text/plain">
          </script>
          <br>
        </form>
        <!--提交-->
        <div class="row">
          <button id="add_new_comment"
                  class="btn-large waves-effect waves-light child-like-blue white-text"
                  style="width: 200px; margin-left: 20px;" type="button">评论<i class="material-icons right">send</i></button>
        </div>
      </div>
    </div>

    <br>

  </div>
</div>
</div>

<!--脚部-->
<footer class="page-footer black">
  <div class="footer-copyright">
    <div class="container">
      技术支持<a class="blue-text text-lighten-3" href="http://materializecss.com">Materialize</a>
    </div>
  </div>
</footer>


<!--  Scripts-->
<script src="/static/js/jQuery.js"></script>
<script src="/static/js/materialize.js"></script>
<script src="/static/js/init.js"></script>
<script src="/static/js/post.js"></script>
<script src="/static/js/jq-paginator.js"></script>
<script src="/static/js/commonJs.js"></script>
<script src="/static/js/user.js"></script>
<!-- 配置文件 -->
<script type="text/javascript" src="/static/UEditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/static/UEditor/ueditor.all.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
  window.ue = UE.getEditor('post_container');
</script>
<script>
  $(document).ready(function () {
    var postId = getUrlParam("id");
    var user = get_user_loginInfo_ajax();
    //未读消息、
    show_unread_message();
    var post = get_post_detail_ajax(postId);
    var list = post_content_ajax(10, 1, post);
    //初始化页面数据
    user_show_post_comment(user, list, postId, post);
    //访问量+1
    visit_num_plus_ajax(postId);
    //分页初始化
    $('#post-pagination').jqPaginator({
      totalPages: list.pages === 0 ? 1 : list.pages,
      visiblePages: 10,
      pageSize: list.pageSize,
      currentPage: 1,
      first: '<li class="waves-effect"><a href="#!"><i class="material-icons">first_page</i></a></li>',
      prev: '<li class="waves-effect"><a href="#!"><i class="material-icons">chevron_left</i></a></li>',
      next: '<li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>',
      last: '<li class="waves-effect"><a href="#!"><i class="material-icons">last_page</i></a></li>',
      page: '<li class="waves-effect"><a href="javascript:void(0);">{{page}}<\/a><\/li>',
      onPageChange: function (num, type) {
        //初始化也要调用
        var i = 0;
        if (i !== 0){
          var data = post_content_ajax(list.pageSize, num, post);
          user_show_post_comment(user, data, postId, post);
        }
        i++;
      }
    });
  });

  //发评论
  $('#add_new_comment').click(function () {
    send_comment_p(getUrlParam("id"));
  });

  // 帖子类型，0普通 1置顶  2精华  3热门
</script>
</body>
</html>