<!DOCTYPE html>
<html lang="zh-cmn" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>我的关注</title>

  <!-- CSS  -->
  <link href="/static/css/Material.css" rel="stylesheet">
  <link href="/static/css/materialize.css" type="text/css" rel="stylesheet"
        media="screen,projection"/>
  <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>
<!--导航栏-->
<nav class="z-depth-1">
  <div class="white nav-wrapper">
    <ul class="left hide-on-med-and-down" style>
      <li style="width: 100px" class="center"><i
          class="large material-icons blue-text text-lighten-3">account_balance</i></li>
      <li style="width: 130px" class="center"><a href="/"><i
          class="material-icons large black-text">home</i></a></li>
      <li style="width: 130px" class="center"><a href="/entrance/moduleDisplay" class="black-text">板块展示</a></li>
      <!--<li class="divider"></li>-->
      <li style="width: 130px" class="center active red lighten-3"><a href="/entrance/needInfo/userFocus" class="white-text">我的关注</a></li>
      <li style="width: 130px" class="center">
        <a id="unread-message" href="/entrance/needInfo/messageCenter" class="black-text">消息中心</a></li>
    </ul>
    <ul class="right hide-on-med-and-down" id="user_login_info">
      <li style="width: 120px"><a class="center black-text" href="/entrance/login">登录</a></li>
      <li style="width: 120px"><a class="center black-text" href="/entrance/signUp">注册</a></li>
    </ul>
  </div>
</nav>

<div class="row">
  <div class="container">
    <!--我的帖子-->
    <br><br><br><br>
    <ul class="collection with-header">
      <li class="collection-header" id="my_post">
        <h5> <i class="material-icons prefix small orange-text text-lighten-3">local_post_office</i> 你发表的帖子：</h5><br></li>
      <li>      <!--翻页-->
        <br><br>
        <div class="container center" >
          <ul class="pagination" id="my-post-pagination">
          </ul>
        </div>
        <br>
      </li>
    </ul>


    <!--//我关注的帖子-->
    <br><br><br><br>
    <ul class="collection with-header">
      <li class="collection-header" id="my_focus_post">
        <h5><i class="material-icons prefix small red-text text-lighten-3">star</i> 你关注的帖子：</h5><br></li>
      <li>      <!--翻页-->
        <br><br>
        <div class="container center" >
          <ul class="pagination" id="module-pagination">
          </ul>
        </div>
        <br>
      </li>
    </ul>


    <!--我关注的用户 暂时不做-->
    <!--<br><br><br><br>-->
    <!--<ul class="collection with-header" id="my_focus_user">-->
    <!--<li class="collection-header"><h5>你关注的用户：</h5></li>-->
    <!--<a href="#!"><li class="collection-header"><span class="new badge red lighten-3">1</span>孔子</li></a>-->
    <!--<a href="#!"><li class="collection-header"><span class="new badge red lighten-3">4</span>法拉利</li></a>-->
    <!--<a href="#!"><li class="collection-header"><span class="new badge red lighten-3">4</span>法拉利</li></a>-->
    <!--</ul>-->

  </div>
</div>

<br><br><br><br>


<footer class="page-footer white">
  <hr>
  <div class="container">
    <div class="row">
      <div class="col l3 s12">
        <h5 class="black-text">友情链接</h5>
        <ul>
          <li><a class="orange-text text-lighten-2" href="https://materializecss.com/">Materialize</a></li>
          <li><a class="orange-text text-lighten-2" href="https://www.google.com/">Google</a></li>
          <li><a class="orange-text text-lighten-2" href="https://www.baidu.com/?tn=78000241_5_hao_pg">百度</a></li>
          <li><a class="orange-text text-lighten-2" href="https://tieba.baidu.com/index.html">贴吧</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright black">
    <div class="container">
      技术支持<a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
    </div>
  </div>
</footer>


<!--  Scripts-->
<script src="/static/js/jQuery.js"></script>
<script src="/static/js/materialize.js"></script>
<script src="/static/js/init.js"></script>
<script src="/static/js/user.js"></script>
<!--//分页-->
<script src="/static/js/jq-paginator.js"></script>
<script>
  $(document).ready(function () {
    get_user_loginInfo_ajax();
    //未读消息、
    show_unread_message();
    //获取关注的主贴列表
    var focus_list = get_focus_post_list(10, 1);
    var my_post = get_my_post_post(10, 1);
    //当前页面的分页初始化
    init_page(focus_list, my_post);
  });

  //加载我发布的主贴Ajax
  function get_my_post_post(size, num) {
    var my_post = null;
    var page ={
      pageNum: num,
      pageSize: size
    };
    $.ajax({
      type: 'POST',
      contentType: "application/json",
      url: "/userAttention/getUserHasPostedList",
      data: JSON.stringify(page),
      datatype: 'json',
      async: false,
      cache: false,
      timeout: 99999,
      success: function (data) {
        if (data.code === 1000) {
          // console.log(data.data);
          my_post = data.data;
          //页面加载信息
          load_focus_list('my_post',data.data.list);
        } else {
        }
      },
      error: function (e) {
      }
    });
    return my_post;
  }
  //初始化分页
  function init_page(focus_list, my_post) {
    $('#my-post-pagination').jqPaginator({
      totalPages: my_post.pages === 0 ? 1 : my_post.pages,
      visiblePages: 10,
      pageSize: my_post.pageSize,
      currentPage: 1,
      first: '<li class="waves-effect"><a href="#!"><i class="material-icons">first_page</i></a></li>',
      prev: '<li class="waves-effect"><a href="#!"><i class="material-icons">chevron_left</i></a></li>',
      next: '<li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>',
      last: '<li class="waves-effect"><a href="#!"><i class="material-icons">last_page</i></a></li>',
      page: '<li class="waves-effect"><a href="javascript:void(0);">{{page}}<\/a><\/li>',
      onPageChange: function (num, type) {
        var i = 0;
        if (i>0) {
          get_focus_post_list(my_post.pageSize, num)
        }
      }
    });

    $('#module-pagination').jqPaginator({
      totalPages: focus_list.pages === 0 ? 1 : focus_list.pages,
      visiblePages: 10,
      pageSize: focus_list.pageSize,
      currentPage: 1,
      first: '<li class="waves-effect"><a href="#!"><i class="material-icons">first_page</i></a></li>',
      prev: '<li class="waves-effect"><a href="#!"><i class="material-icons">chevron_left</i></a></li>',
      next: '<li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>',
      last: '<li class="waves-effect"><a href="#!"><i class="material-icons">last_page</i></a></li>',
      page: '<li class="waves-effect"><a href="javascript:void(0);">{{page}}<\/a><\/li>',
      onPageChange: function (num, type) {
        var i = 0;
        if (i>0) {
          get_focus_post_list(focus_list.pageSize, num)
        }
      }
    });
  }



</script>

</body>
</html>
